<style type="text/css">
    #form1 * {font-size: 16px;}
    #form1 table{border: solid 3px silver; border-spacing: 3px; background-color: #EEE; }
    #form1 table td {border-spacing: 3px;}
    input.display {width: 101pt;text-align: left;}
    td.buttons {border-top: solid 1px silver;}
    input[type = button] {width: 23pt; height: 23pt;}
    input[name = eq] {width: 49pt;}
</style>
